/*!
 * Vitality v1.4.0 (http://themes.startbootstrap.com/vitality-v1.4.0)
 * Copyright 2013-2016 Start Bootstrap Themes
 * To use this theme you must have a license purchased at WrapBootstrap (https://wrapbootstrap.com)
 */
html,
body {
  height: 100%;
}
.img-centered {
  margin: 0 auto;
}

.content-row {
  margin-top: 100px;
}
.img-row {
  margin: 32px 0px;
  vertical-align:middle;
}
blockquote {
  font-style: italic;
  font-weight: bold;
  border-left-color: #FF3A53;
  font-size:16px;
}
section {
  padding: 100px 0 ;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
}
.section-header{
  text-align: center;
  padding-bottom: 20px;
}
.bg-gray {
  background-color: #fcfcfc;
}
a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 50px;
	bottom: 50px;
	background: #FF3A53 url("../img/triangle.png") no-repeat center 50%;

}
a.back-to-top:before {
    content:"\f00c";
    font-family: FontAwesome;
    color: white;
    left:-5px;
    position:absolute;
    top:1;
 }
a:hover.back-to-top {
	background-color: black;
}
.align-items-center{
  -webkit-box-align: center !important;
  align-items: center !important;
}


.listStyle{
  color: #FF3A53;
  list-style-type: none;
}

.listStyle p {
  color: black;
  /* font-size: 18px; */
  margin: 5px;
}

.listStyle li:before {
  content: '\f0da'; /* fa-star */
font-family: 'FontAwesome';
float: left;
margin-left: -1.5em;
}

.mockup-carousel .item {
  margin: 0;
  padding: 0;
}
.mockup-carousel .item img {
  margin: 0;
}
.mockup-carousel .owl-controls {
  margin-top: 0;
}
.mockup-carousel .owl-controls .owl-prev,
.mockup-carousel .owl-controls .owl-next {
  text-align: center;
  position: absolute;
  height: 60px;
  width: 40px;
  border-radius: 0 !important;
  line-height: 50px;
  font-size: 30px !important;
  margin: auto 0 !important;
  top: -30px;
  bottom: 0;
  background-color: transparent !important;
  color: #FF3A53 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mockup-carousel .owl-controls .owl-prev:hover,
.mockup-carousel .owl-controls .owl-next:hover {
  opacity: 1;
}
.mockup-carousel .owl-controls .owl-prev {
  left: -35px;
}
.mockup-carousel .owl-controls .owl-next {
  right: -35px;
}
.owl-theme .owl-controls .owl-page span {
  background: #FF3A53;
  visibility: hidden;
}
input.form-control {
  border-radius: 0 !important;
}
input.form-control:focus {
  border-color: #FF3A53;
  box-shadow: none;
}
.btn,
.input-group-btn {
  border-radius: 0 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary {
  color: white;
  background-color: #FF3A53;
  border-color: #FF3A53;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ed2a1d;
  border-color: #ec2114;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FF3A53;
  border-color: #FF3A53;
}
.btn-primary .badge {
  color: #FF3A53;
  background-color: white;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
a {
  color: #FF3A53;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

@media (max-width: 1500px) {
  p {
    font-size: 16px;
  }
}
section p{
  margin: 16px 0;
}

section p.cap{
  margin-top: 5px;
}
section p.caps{
  margin-top: -15px;
}
section p.no-bottom{
  margin-bottom: 15px;
}
p.lead {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  /* text-transform: uppercase; */
}

h3{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 50px;
  }
}

hr {
  max-width: 100px;
  border-top: 1px solid white;
  border: 3px solid white;
  border-radius: 3px;
  height: 0px;
  margin: 15px auto;

}
hr.colored {
  border-color: #FF3A53;
}
@media (min-width: 768px) {
  hr {
    max-width: 200px;
    margin: 20px auto;
  }
  hr.left {
    margin: 20px auto 20px 0;
  }
}
.text-primary {
  color: #FF3A53;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FF3A53;
  background-color: inherit;
  font-weight: bold;
  border-radius: 0;
}
.navbar-inverse {
  background-color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-inverse .navbar-toggle {
  color: black;
  font-size: 14px;
  padding: 6px 10px;
  border-color: white;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: white;
  color: black;
}
.navbar-inverse .navbar-brand {
  color: black;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Open Sans", cursive;
  font-weight: 500;
  /* text-transform: uppercase; */
  font-size: 30px;
}

.navbar-inverse .navbar-brand:hover{
  opacity: 0.5;
}
.navbar-inverse .navbar-brand img {
  margin-top: -10px;
  height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
  color: black;
  /* text-transform:uppercase; */
  font-family: 'Titillium Web'
}

.navbar-inverse.navbar-expanded .navbar-nav > .active > a {
  color: #FF3A53;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #FF3A53;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 5px;
  }
  .navbar-fixed-top.navbar-expanded {
    padding: 30px 0;
  }
  .navbar-fixed-top {
    padding: 5px 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    transition: padding 0.5s;
    border-bottom: 1px solid #ebebeb;
  }
  .navbar-fixed-top .navbar-brand:hover {
    color: #FF3A53
  }
  .navbar-inverse.navbar-expanded {
    background: transparent;
    border: none;
  }
}

header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #032B2F;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
}
header .intro-content {
  color: black;
  text-align: center;
  position: relative;
}
header .brand-name {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 55px;
  font-weight: 700;
  margin-top: 15px;
}
header .brand-name-subtext {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}
header img {
  max-width: 150px;
  max-height: 150px;
}
header .scroll-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
header .scroll-down .btn {
  height: 60px;
  width: 60px;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: black;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
header .scroll-down .btn:hover {
  color: #FF3A53;
  opacity:0.5;
  /*border-color: rgba(255, 255, 255, 0.5);*/
  outline: none;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #FF3A53;
    border-radius: 20px;
    margin: 5px;
}
@media (min-width: 768px) {
  header {
    height: 100%;
    width: 100%;
    padding: 0;
    background-attachment: scroll;
  }
  header .intro-content {
    color: black;
    text-align: left;
    width: 45%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  header .brand-name {
    font-size: 50px;
    line-height:80px;
  }
  header .brand-name-subtext {
    font-size: 24px;
    line-height: 30px;
  }
  header img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (min-width: 1400px) {
  header .intro-content {
    text-align: left;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  header {
    background-attachment: fixed;
  }
}
/* header.video .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 998;
  opacity: 0;
}
header.video .intro-content {
  z-index: 999;
}
header.video .scroll-down {
  z-index: 999;
}
@media (min-width: 768px) {
  header.video .overlay {
    opacity: 0.5;
  }
}
aside.cta-quote {
  color: white;
  background-color: #032B2F;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 100px 0;
  text-align: center;
}
aside.cta-quote span.quote {
  display: block;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  aside.cta-quote {
    background-attachment: scroll;
    padding: 150px 0;
  }
  aside.cta-quote span.quote {
    font-size: 36px;
    line-height: 38px;
  }
}
@media (min-width: 992px) {
  aside.cta-quote {
    padding: 300px 0;
  }
  aside.cta-quote span.quote {
    font-size: 40px;
    line-height: 42px;
  }
}
@media (min-width: 1025px) {
  aside.cta-quote {
    background-attachment: fixed;
  }
}

.services .media {
  margin-bottom: 30px;
}
.services .media i.fa {
  height: 75px;
  width: 75px;
  line-height: 70px;
  text-align: center;
  border: 3px solid #032B2F;
  border-radius: 100%;
  font-size: 30px;
}
.services .media .media-body {
  min-width: none;
  padding-left: 15px;
}
.services .media .media-body h3 {
  margin-bottom: 15px;
}
.services .media .media-body ul {
  list-style: inside;
  padding: 0;
}
.services .media .media-body ul li {
  margin-bottom: 10px;
}
@media (min-width: 390px) {
  .services .media .media-body {
    min-width: 250px;
  }
}
@media (min-width: 992px) {
  .services .media .media-body {
    min-width: 180px;
  }
}
@media (min-width: 1199px) {
  .services .media .media-body {
    min-width: 200px;
  }
}
@media (min-width: 992px) {
  .services .media {
    margin-bottom: 0;
  }
} */

.portfolio-filter {
  display: inline-block;
}
.portfolio-filter #filters {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.portfolio-filter #filters li {
  display: inline-block;
}
.portfolio-filter #filters li .filter {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  margin: 2px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  color: black;
  background: transparent;
  border: 1px solid black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.portfolio-filter #filters li .filter.active {
  background-color: #FF3A53;
  color: white;
  border-color: #FF3A53;
}
#portfoliolist .mix {
  width: 31%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}
#portfoliolist .mix .portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: white;
  cursor: pointer;
}
#portfoliolist .mix .portfolio-wrapper img {
  max-width: 100%;
  position: relative;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#portfoliolist .mix .portfolio-wrapper:hover img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: scale(0.9);
}
#portfoliolist .mix .portfolio-wrapper .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#portfoliolist .mix .portfolio-wrapper .caption .caption-bg {
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#portfoliolist .mix .portfolio-wrapper .caption .caption-text {
  color: black;
  position: relative;
  z-index: 500;
  padding: 100px 8px;
}
#portfoliolist .mix .portfolio-wrapper .caption .caption-text a.text-title {
  color: #FF3A53;
  font-size: 24px;
  font-weight: 600;
  /* text-transform: uppercase; */
}
#portfoliolist .mix .portfolio-wrapper .caption .caption-text .text-category {
  display: block;
  font-size: 13px;
}
#portfoliolist .mix:hover .portfolio-wrapper .caption {
  bottom: 0px;
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  #portfoliolist .mix {
    width: 48%;
    margin: 1%;
  }
  #portfoliolist .mix .portfolio-wrapper .caption .caption-text a.text-title {
    font-size: 13px;
  }
}
@media(max-width: 1500px) {
  #portfoliolist .mix .portfolio-wrapper .caption .caption-text a.text-title {
    font-size: 20px;
    font-weight: 600;
    /* text-transform: uppercase; */
  }
  #portfoliolist .mix .portfolio-wrapper .caption .caption-text {
    position: relative;
    z-index: 500;
    padding: 80px 16px;
  }
}
footer.footer {
  color: #333;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 50px 0 20px;
}
footer.footer a {
  color: #333;
}
footer.footer a:hover {
  color: #FF3A53;
}
footer.footer p {
  font-size: 22px;
  color: #333
}
footer.footer .contact-details {
  margin: 75px 0;
}
footer.footer .social {
  margin-bottom: 75px;
}
footer.footer .copyright p.small {
  font-size: 14px;
}
@media (min-width: 1025px) {
  footer.footer {
    background-attachment: fixed;
  }
}
.btn-outline-light {
  color: white;
  border: 1px solid white;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-outline-light:hover,
.btn-outline-light:focus {
  color: #FF3A53;
  background: white;
  outline: none;
}
.btn-outline-dark {
  color: black;
  border: 1px solid black;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: white;
  background: #FF3A53;
  border-color: #FF3A53;
  outline: none;
}
.btn {
  border-radius: 0;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.btn-full-width {
  border: 0;
  border-radius: 0;
  background-color: black;
  color: white;
  padding: 50px 0;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
}
.btn-full-width:hover {
  background-color: #FF3A53;
  color: white;
}
.btn-full-width:focus {
  color: white;
}
